*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
body{
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
    background-image: url("/Images/img7.jpg");
    background-size: cover;
    background-position: center;
}
#sec-1{
    background-color: rgba(255, 255, 255, 0.503);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255, 0.2);
}
.login-header{
    text-align: center;
    margin-bottom: 10px;
    
}
.form-content{
    display: flex;
    flex-direction: column;
    margin-top: 20px 0;
    justify-content: center;
}
.form-item input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 35px;
    border: none;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.249);
}
.form-item input::placeholder{
    color: #fff;
}
.remember-forget{
    display: flex;
    gap: 50px;
    font-size: 14px;
    margin-bottom: 5px;  
}
.remember-forget a{
    text-decoration: none;
}
.form-content button{
    color: black;
    background: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
}